<header>
  <nav>
      <a routerLink=""><i class="fas fa-times"></i></a>
  </nav>
</header>

<div class="container">
    <h1>{{title}}</h1>
    <p class="currentQuizRound">Spørgsmål 1.</p>
    <p class="currentQuizPoints">Points: 500</p>
  
    <div class="list-container">
  
      <div class="released-container column-container">
        <div class="list"
             cdkDropList
             #releasedList="cdkDropList"
             [cdkDropListData]="dropField"
             [cdkDropListConnectedTo]="[pullList]"
             (cdkDropListDropped)="onDrop($event)">
          <h2>Træk dit svar her til</h2>
          <mat-card *ngFor="let released of dropField" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{released.answer}}</mat-card-title>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
  
      <div class="pull-container column-container">
        <div class="list"
             cdkDropList
             #pullList="cdkDropList"
             [cdkDropListData]="dragField"
             [cdkDropListConnectedTo]="releasedList"
             (cdkDropListDropped)="onDrop($event)">
          <h2>Mulige Svar</h2>
          <mat-card *ngFor="let answers of dragField" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{answers.answer}}</mat-card-title>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
  
    </div>
  </div>