<link rel="stylesheet" href="../../node_modules/ng-drag-drop/style.css">

<div class="header container-fluid">
    <p class="questionAttempt">1.</p>
    <p class="currentPoints">500</p>
</div>

<section class="questionNumber container-fluid">
    <h1 class="questionDisplay col-lg-12">Hvor meget CO2 udledning står flytrafik for?</h1>

    <div class="dropFieldContainer container-fluid col-md-9 ">
        <div class="dropField container-fluid col-md-6"><p>Træk svar hertil og slip</p></div>
    </div>

    <div class="container-fluid">
        <div class="questionOptions row col-md-6 align-self-center justify-content-center">
            <div class="dragField col-6 draggable">20% af al CO2 udledning</div>
            <div class="dragField col-6 draggable">40% af al CO2 udledning</div>
            <div class="dragField col-6 draggable">60% af al CO2 udledning</div>
            <div class="dragField col-6 draggable">80% af al CO2 udledning</div>
        </div>
    </div>
</section>

<section class="returnToStart col-2">Tilbage til start</section>