<!--Test-->
<h1 class="questionAttempt">1.</h1>
<h1 class="currentPoints">500</h1>

<section class="questionNumber">
    <article class="questionDisplay">Hvor meget CO2 udledning står flytrafik for?</article>

    <article class="dropField"></article>

    <article class="questionOptions">
        <article class="dragField-1">20% af al CO2 udledning</article>
        <article class="dragField-2">40% af al CO2 udledning</article>
        <article class="dragField-3">60% af al CO2 udledning</article>
        <article class="dragField-4">80% af al CO2 udledning</article>
    </article>
</section>

<section class="returnToStart">Tilbage til start</section>