<section class="scoreDisplay container-fluid">
    <div class="header col-lg-6 row">
        <div class="crown col-4"><img src="http://sfpmedia.dk/billeder/crown.png" alt="A crown is placed at the top of the placements, to indicate the score ladder"></div>
        <div class="name col-4">Name</div>
        <div class="points col-4">Point</div>
    </div>

    <div class="container-fluid">
        <div class="scoreList row col-md-6 align-self-center justify-content-center">
            <div class="scorePlayerList col-12">
                <div class="scorePlayer row">
                    <h2 class="playerNumber col-3">1.</h2>
                    <h2 class="playerName col-6">Mogens</h2>
                    <h2 class="playerPoint col-3">100</h2>
                </div>
                <div class="scorePlayer row">
                    <h2 class="playerNumber col-3">2.</h2>
                    <h2 class="playerName col-6">Biver</h2>
                    <h2 class="playerPoint col-3">95</h2>
                </div>
                <div class="scorePlayer row">
                    <h2 class="playerNumber col-3">3.</h2>
                    <h2 class="playerName col-6">Bo</h2>
                    <h2 class="playerPoint col-3">90</h2>
                </div>
                <div class="scorePlayer row">
                    <h2 class="playerNumber col-3">4.</h2>
                    <h2 class="playerName col-6">Gertrud</h2>
                    <h2 class="playerPoint col-3">80</h2>
                </div>
                <div class="scorePlayer row">
                    <h2 class="playerNumber col-3">5.</h2>
                    <h2 class="playerName col-6">Gert</h2>
                    <h2 class="playerPoint col-3">75</h2>
                </div>
                <div class="scorePlayer row">
                    <h2 class="playerNumber col-3">6.</h2>
                    <h2 class="playerName col-6">Søren</h2>
                    <h2 class="playerPoint col-3">75</h2>
                </div>
                <div class="scorePlayer row">
                    <h2 class="playerNumber col-3">7.</h2>
                    <h2 class="playerName col-6">Egon</h2>
                    <h2 class="playerPoint col-3">75</h2>
                </div>
                <div class="scorePlayer row">
                    <h2 class="playerNumber col-3">8.</h2>
                    <h2 class="playerName col-6">Bjørn</h2>
                    <h2 class="playerPoint col-3">70</h2>
                </div>
                <div class="scorePlayer row">
                    <h2 class="playerNumber col-3">9.</h2>
                    <h2 class="playerName col-6">Signe</h2>
                    <h2 class="playerPoint col-3">70</h2>
                </div>
                <div class="scorePlayer row">
                    <h2 class="playerNumber col-3">10.</h2>
                    <h2 class="playerName col-6">Signe</h2>
                    <h2 class="playerPoint col-3">65</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="returnToStart col-2">Tilbage til start</section>