<div class="boks">
    <div class="warning">
        <h1>! Advarsel !</h1>
        <p>For at kunne svare på de spørgsmål som er i quizzen, anbefales det at man gennemgår vendespillet først.</p>
        <div>
            <button routerLink="" type="button" class="btn btn-primary">Tilbage</button>
            <button type="button" class="btn btn-primary" id="game">Fremad</button>
        </div>
    </div>
    <div class="user">
        <h1>Navn</h1>
        <form action="">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="user">
        </form>
        <div>
            <button routerLink="../quiz-play" type="button" class="btn btn-primary">Start</button>
        </div>
    </div>
</div>

