<div class="boks">
    <div class="warning">
        <h1>! Advarsel !</h1>
        <p>For at kunne svare på de spørgsmål som er i quizzen, anbefales det at man gennemgår vendespillet først.</p>
        <div>
            <button routerLink="" type="button" class="btn btn-primary">Tilbage</button>
            <button type="button" class="btn btn-primary" id="game">Fremad</button>
        </div>
    </div>
    <div class="user">
        <h1>Brugernavn</h1>
        <!-- User form -->
        <form [formGroup]="userForm" (ngSubmit)="submitUserData()" novalidate>
            <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="row">
        
                    <div class="col-md-12 mb-3">
                        <label>Brugernavn</label>
                        <input type="text" formControlName="userName" class="form-control" required>
                        <!-- Showing errors using getter method -->
                        <p *ngIf="userName.touched && userName.invalid" class="error"><sup>*</sup>Please enter atleast user name</p>
                        <p *ngIf="userName.errors?.minlength" class="error"><sup>*</sup>Name shouldn't be less than 3 words</p>
                    </div>
            
                    <div class="form-group text-right">
                    <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">Reset</button>
                    <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Add User</button>
                    </div>
        
                </div>
            </div>
            </div>
        </form>
    </div>
</div>

