.boks {
    width: 100%;
    padding: 1em;
    transform: translateY(30%);
    div {
        color: white;
        h1, p, span {
            text-align: center;
        }
        
        div {
            display: flex;
            justify-content: space-around;
            width: 100%;
            button {
                margin: .5rem;
                background-color: #252d54;
                border: none;
                padding: 1rem 4rem;
            }
        }
    }
    .user {
        display: none;
    }
    .hide {
        display: none;
    }
    .show {
        display: block;
    }
}