.container {
    .gridcontainer{
        margin-top: 20vh;
        display: grid;
        width: 100%;
        grid-template-columns: auto auto auto;

        .griditem{
            position: relative;

            .card{

                img {
                    width: 100%;
                    height: auto;
                }
                .cardfront{
                    display: none;
                    position: absolute;
                }
            }
        }
    }
}

.noshow{
    display: none;
}

.show {
    display: block;
}
