.container {
    
    .gridcontainer{
        margin-top: 20vh;
        display: grid;
        width: 100%;
        grid-template-columns: auto auto auto;

        .griditem{
            position: relative;
            padding: 1em;

        }
    }
}
