.container {
    
    .gridcontainer{
        // memory-game
        margin-top: 20vh;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        perspective: 1000px;
        

        .griditem{
            position: relative;
            padding: 1em;
            width: calc(25% - 1em);
            transform: scale(1);

            &:active {
                transform: scale(0.97);
                transition: transform .2s;
            }

        }
    }
}

