<main>
    <section class="container">
      <div class="row">
  
              <div class="col-md">
                  <a routerLink="memory">
                      <img src="../assets/img/vendespil.jpg" alt="">
                      <h1>Vendespil</h1>
                  </a>
              </div>
        
              <div class="col-md">
                <a routerLink="quiz-user">
                      <img src="../assets/img/quiz.jpg" alt="">
                      <h1>Quiz</h1>
                </a>
              </div>

              <div class="col-md">
                <a routerLink="scoreboard">
                      <img src="../assets/img/quiz.jpg" alt="">
                      <h1>Scoreboard</h1>
                </a>
              </div>
              
      </div>
  
    </section>
  </main>
