main {
    position: relative;
    .container {
        transform: translateY(30%);
        .row {
            .col-md {
                position: relative;
                padding: 5%;
                button {
                    background-color: #252d54;
                    border: none;
                    padding: 1rem 4rem;
                }
            }
        }
        div {
            text-align: center;
            color: #ffffff;
        }
        a {
            text-align: center;
            color: white;
            text-decoration: underline;
        }
    }
}