<main>
    <section class="container">
      <div>
        <p>Hvad er</p>
        <h1>Sustainable World Goals</h1>
        <span>(SDG)</span>
        <p>Spil disse fede spil for at lære mere om SDG (Verdens udviklingsmål)</p>
      </div>
      <div class="row">
  
              <div class="col-md text-center">
                  <button routerLink="memory" type="button" class="btn btn-primary">Vendespil</button>
              </div>
        
              <div class="col-md text-center">
                <button routerLink="quiz-user" type="button" class="btn btn-primary">Quiz</button>
              </div>
              
      </div>

      <a routerLink="scoreboard">
        <p>Scoreboard</p>
      </a>
  
    </section>
  </main>
